<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>


<h2 th:if="${bucketExists}" th:text="'Your Files in ' + ${bucketName} + ':'"></h2>
<h2 th:if="${not bucketExists}">Create storage:</h2>
<form th:if="${not bucketExists}" th:action="@{/createBucket}" method="post">
    <input type="submit" value="Create storage"/>
</form>
<form th:if="${bucketExists}" th:object="${fileForm}" th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit" value="Upload file"/>
</form>
<h2 th:if="${not #lists.isEmpty(fileEntries)}">Your File Entries:</h2>
<ul th:if="${not #lists.isEmpty(fileEntries)}">
    <li th:each="fileEntry : ${fileEntries}">
        <div>
            <span th:text="'File name: ' + ${fileEntry.fileName}"></span>
            <span th:text="'Date uploaded: ' + ${fileEntry.dateUploaded}"></span>
            <span th:text="'Status: ' + ${fileEntry.status}"></span>
            <a th:href="${'https://' + bucketName + '.s3.amazonaws.com/' + fileEntry.fileName}" th:text="${fileEntry.fileName}"></a>
        </div>
    </li>
</ul>

<h2>Relationships based on your files:</h2>
<table>
    <tr th:each="file : ${fileRelations}">
        <td th:text="${file.key}">keyvalue</td>
        <td>
            <span th:text="' is linked to ' + ${#strings.listJoin(file.value, ', ')}"></span>
        </td>
    </tr>
</table>
</body>
</html>