<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var isAuthenticated = /*[[${#httpServletRequest != null ? #httpServletRequest.userPrincipal.authenticated : false}]]*/ false;
    if (isAuthenticated) {
        window.location.href = "/home";
    }
    /*]]>*/
</script>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
<form th:action="@{/register}" method="get">
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>